.bookingWindow{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;

}

.booking-form .Map{
    flex:auto;
    flex-basis: 0;
    width:0
}


.booking-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.Map{
    width:580px
}


.profile{
    display:flex;
    flex-direction: row;
}

.pastRides{
    /* display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    margin-right: 20px;
}

