

  .profile i{
    font-size: larger;
    cursor: pointer;  
  }

  .profile-icon{
    color:white
  }

  .profile-icon:hover{
    color: #f9a826;
  }

  

  .table-div{
    width:40%;
    margin: auto;
    margin-top:3%;
  }