

  .profile i{
    font-size: larger;
    cursor: pointer;  
  }

  .profile-icon{
    color:white;
    /* margin-right: 5%; */
  }

  .profile-icon:hover{
    color: #f9a826;
  }

  .pastRides{
    margin-right: 2%;
  }

  .pastRides i{
    font-size: larger;
    cursor: pointer;  
  }

  .table-div{
    width:40%;
    margin: auto;
    margin-top:3%;
  }